<div class="view">
  <svg
    height="40"
    viewBox="0 0 40 40"
    width="40"
  ></svg>
</div>

<div class="menu">
  <div class="tree">
    <div class="element">svg</div>
  </div>
  <div class="attributes">
    <button
      icon="toto"
      input-button-icon
      type="button"
    ></button>
    <div class="attribute">
      <div>viewBox</div>
      <label
        input-number
        label="X"
        [(value)]="t"
      ></label>
      <label
        input-number
        label="Y"
        [value]="0"
      ></label>
      <label
        input-number
        label="W"
        [value]="40"
      ></label>
      <label
        input-number
        label="H"
        [value]="40"
      ></label>
    </div>
  </div>
</div>
