<svg
  #svg
  font-family="'Source Sans Pro', sans-serif"
  font-size="16"
  font-weight="400"
  height="300"
  width="300"
  xmlns="http://www.w3.org/2000/svg"
>
  <!-- Carré centré -->
  <rect
    fill="lightgray"
    height="100"
    stroke="black"
    width="100"
    x="100"
    y="100"
  />

  <!-- Texte centré avec plusieurs lignes -->
  <text text-anchor="middle">
    <tspan
      dy="1em"
      x="150"
    >
      Hello
    </tspan>
    <tspan
      dy="1em"
      x="150"
    >
      World mdr
    </tspan>
    <tspan
      dy="1em"
      x="150"
    >
      hihi haha
    </tspan>
  </text>
</svg>

<svg
  height="500"
  viewBox="0 0 500 500"
  width="500"
>
  <path
    fill="none"
    stroke="blue"
    stroke-width="2"
    [attr.d]="dPath"
  />
</svg>

<div #element></div>

<svg>
  <defs>
    <symbol id="symbol.a">
      <path data-id="element-a" />
      <path data-id="element-b" />
      <path data-id="element-c" />
    </symbol>
    <symbol id="symbol.b">
      <rect data-id="element-a" />
      <path data-id="element-b" />
      <path data-id="element-c" />
    </symbol>
    <symbol id="symbol-a.a">
      <rect data-id="element-a" />
      <path data-id="element-b" />
      <path data-id="element-c" />
    </symbol>
  </defs>
</svg>
