@use '@ibm/plex/scss/sans/text' as PlexSansText with (
  $font-prefix: '@ibm/plex'
);
@use '@ibm/plex/scss/sans/bold' as PlexSansBold with (
  $font-prefix: '@ibm/plex'
);
@use '@ibm/plex/scss/mono/text' as PlexMonoText with (
  $font-prefix: '@ibm/plex'
);
