// text
$text-color: #000;

// input
$input-border: #000;
$input-background: #fff;
$input-color: #000;
$input-label: #404040;

// button
$button-background: #fff;
$button-hover: #bfbfbf;
$button-active: #808080;
