@use 'color';

@mixin text() {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
}

@mixin input() {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  color: color.$input-color;
}

@mixin input-label() {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  color: color.$input-label;
}
